<hr />
<p>
	<a href="/">HOME</a> |
	<a href="/w/list">顔Wジェネレータ一覧</a> |
	<a href="/podcast/">WIND WAVE PODCAST</a> |
	<a href="http://twitter.com/?status=@kdmsnr%20">お問い合せ via twitter</a> |
	<a href="http://github.com/kdmsnr/w_generator/">ソースコードはこちら</a>
</p>
