    <p>
      画像のURLを入力して［変身］ボタンを押してください。<br />
    </p>

    <form method="post" action="/w">
      <div>
      左<input type="text" class="input" name="left" />
      右<input type="text" class="input" name="right" />
      <input type="submit" value="変身" />
      </div>
    </form>

    <p>
      これまでの作品は<a href="/w/list">一覧ページ</a>でご覧いただけます。
    </p>
