<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>顔Wジェネレータ</title>
    <style type="text/css">
      .input {
        background-color: #E6E6FA;
        width:400px;
        height:30px;
        font-size:120%;
      }
    </style>
  </head>
  <body>
    <h1>顔Wジェネレータ</h1>

    <p>
      画像のURLを入力して［変身］ボタンを押してください。
    </p>

    <form method="post" action="/w">
      <div>
      左<input type="text" class="input" name="left" />
      右<input type="text" class="input" name="right" />
      <input type="submit" value="変身" />
      </div>
    </form>

    <hr />
    <p>
      <a href="/">HOME</a> |
      <a href="http://twitter.com/?status=@kdmsnr%20">お問い合せ via twitter</a>
    </p>
  </body>
</html>
