<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
					"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<title>WIND WAVE PODCAST</title>
		<body>
			<h1>WIND WAVE PODCAST</h1>
			<p>iTunesなどでお使い下さい。</p>
			<ul>
				<% @channels.each do |k, v| %>
					<li><a href="<%=h k %>.rss"><%=h v %></a></li>
				<% end %>
			</ul>
			<%= partial :_footer %>
		</body>
</html>
